<blockquote class="blockquote text-center">
    <h1 class="display-1" >Consulta</h1>
    <form id="Formulario" >
        <div class="alert alert-info">
            <label for="LblId">Filtro:</label>
            <input type="text"  name="identificacion"   [(ngModel)]="busqueda" class="form-control" /><br>
            <div class="table-responsive">
                <table class="table table-striped table-bordered " *ngIf='personas && personas.length'>
                    <thead class="thead-light ">
                        <tr >
                            <th scope="col" >#</th>
                            <th scope="col">identificación</th>
                            <th scope="col">Nombre </th>
                            <th scope="col">sexo</th>
                            <th scope="col">Edad</th>
                            <th scope="col">Pulsacion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let persona of personas; index as i ">
                            <th scope="row">{{ i + 1 }}</th>
                            <td>{{ persona.identificacion }} </td>
                            <td>{{ persona.nombre }}</td>
                            <td>{{persona.sexo }}</td>
                            <td>{{ persona.edad }}</td>
                            <td>{{ persona.pulsacion }}</td>
                        </tr>
                    </tbody>
                    </table>
            </div>
        </div>
                
    </form>
  </blockquote>



