<main class="blockquote text-center" style="margin-bottom: 7.5cm;">
  <h1 class="display-1">Pulsaciones</h1>
  <div class="container_informacion">
    <picture>
      <img src="../../assets/Pulsaciones.jpg" class="rounded float-right" alt="..." style="margin: 1rem; margin-top: 0cm;">
    </picture>
      <article class="mb-0" style="text-align: justify; margin-top: 1cm;">
          La frecuencia cardiaca es el número de veces que se contrae el corazón durante un 
          minuto (latidos por minuto). Para el correcto funcionamiento del organismo es 
          necesario que el corazón actúe bombeando la sangre hacia todos los órganos, 
          pero además lo debe hacer a una determinada presión (presión arterial) 
          y a una determinada frecuencia. Dada la importancia de este proceso, 
          es normal que el corazón necesite en cada latido un alto consumo de energía.
      </article>
  </div>
  
</main>
